<!--
  Generated template for the BreakfastPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

  </ion-navbar>

</ion-header>


<ion-content padding>
<div class = "list">
  <h1>Burritos</h1>
   <div class = "item">Breakfast Burrito: 4.95</div>
   <div class = "item">Garden Burrito: 5.25</div>
   <div class = "item">Chorizo Burrito: 5.95</div>
   <div class = "item">Bourbon Bacon Burrito: 5.95</div>
   <div class = "item">Garlic Teriyaki Mushroom Bacon Burrito: 6.50</div>
   <h1>Breakfast Platter</h1>
    <div class = "item">Andy's Big Breakfast: 6.99</div>
    <div class = "item">Chicken-Fried Steak Breakfast: 8.95</div>
    <h1>Everything Else</h1>
    <div class = "item">Quesadilla: 4.95</div>
    <div class = "item">Breakfast Sandwhich: 5.95</div>
    <div class = "item">French Toast: 5.95</div>
    <div class = "item">Pancakes: 5.95</div>
    <div class = "item">Biscuits and Gravy: 5.95</div>
    <h1>For the Kids</h1>
    <div class = "item">Kids Mini Breakfast: 5.95</div>
    <div class = "item">Pig-On-A-Stick: 5.95</div>
    <div class = "item">Kids Pancakes: 5.95</div>
</div>
</ion-content>
