<!--
  Generated template for the CoffeePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>coffee</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<div class = "list">
    <h1>Hot Drinks</h1>
   <div class = "item">Latte: Small: 2.50 Large: 3.50</div>
   <div class = "item">Mocha: Small: 2.50 Large: 3.50</div>
   <div class = "item">Cappuccino: Small: 2.50 Large: 3.50</div>
   <div class = "item">Add Shot of Espresso for 1.00</div>
   <div class = "item">Chai Tea Latte: Small: 2.80 Large: 3.80</div>
   <div class = "item">Hot Apple Cider: Small: 2.00 Large: 3.00</div>
   <div class = "item">Hot Chocolate: Small: 2.00 Large: 3.00</div>
   <div class = "item">Americana: Small: 1.75 large: 3.00 </div>
   <div class = "item">Redeye: Small: 1.75 large: 3.00</div>
 

</div>
</ion-content>
