<ion-header>
  <ion-navbar>
    <ion-title>
      Andys Mountain Grill
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>
   Menu
  </h1>
<button ionbutton (click)="gotoBurgerPage();">Burgers</button>
<hr>
<button ionbutton (click)="gotoBreakfastPage();">Breakfast</button>
<hr>
<button ionbutton (click)="gotoCoffeePage();">Coffee</button>
<hr>
<button ionbutton (click)="gotoiceCreamPage();">Ice Cream</button>
<hr>
<button ionbutton (click)="gotoSandwhichPage();">Sandwhiches</button>
<hr>
<button ionbutton (click)="gotoSpecialitiesPage();">Specialities</button>
<hr>
</ion-content>
