<!--
  Generated template for the IceCreamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

  </ion-navbar>

</ion-header>


<ion-content padding>
<div class = "list">
  <h1>Ice Cream</h1>
   <div class = "item">Single Cone/Cup: 2.25 </div>
   <div class = "item">Double Cone/Cup: 3.25 </div>
   <div class = "item">Single Waffle Cone: 3.75 </div>
   <div class = "item">Root Beer Float: 4.50 </div>
   <div class = "item">MilkShake: 4.75 </div>
   <div class = "item">Malt: 5.25 </div>
   <div class = "item">Freeze: 4.75 </div>
   <div class = "item">Sundaes: 5.95 </div>
   <div class = "item">Flavor Shot: .30 </div>
   <div class = "item">Additional Scoops: 1.50 Each </div>
   <div class = "item">Handpacked QT: 6.50 </div>


</div>
</ion-content>
