<!--
  Generated template for the SandwhichPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
   
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Deli Sandwhiches Small:5.25 Large:6.25</h1>
<div class = "item">Roast Beef </div>
<div class = "item">Ham </div>
<div class = "item">Turkey </div>
<div class = "item">Cheese </div>
<div class = "item">Salami </div>
<div class = "item">Veggie </div>
<div class = "item">Ham,Turkey + 2 Cheeses ($1.50 more) </div>
<div class = "item">Andy's Favorite Roast Beef ($1.50 more)  </div>
<h1>Hot Dogs</h1>
<div class = "item">Super Dog: 3.75 </div>
<div class = "item">"Killer" Chili Dog: 3.75 </div>
<div class = "item">Kraut Dog: 4.00 </div>
<div class = "item">Baltimore Dog: 6.95 </div>
<div class = "item">Corn Dog: 2.00 </div>
<h1>Hot Sandwhiches Small: 5.75 Large: 6.75</h1>
<div class = "item">Roast Beef </div>
<div class = "item">Beef Teriyaki </div>
<div class = "item">BBQ Beef </div>
<div class = "item">Ham or Turkey </div>
<div class = "item">Pastrami </div>
<div class = "item">Corned Beef </div>
<div class = "item">Grilled Cheese(Lrg Only) </div>
<div class = "item">French Dip(Lrg Only) </div>
<div class = "item">Rueben(Lrg Only) </div>
<div class = "item">Blonde Reueben(Lrg Onlyy) </div>
<div class = "item">California Roast Beef(Lrg Only) </div>
<div class = "item">BLT </div>
<div class = "item">Canadian BLT </div>
<div class = "item">Hot Ham and Ranch </div>
<div class = "item">"Killer" Club(Lrg Only) </div>
</ion-content>
