<!--
  Generated template for the SpecialitiesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>Specials</h1>
<div class = "item">Fish and Chips: 8.95 </div>
<div class = "item">Shrimp and Chips: (4)5.95 (8)8.95 </div>
<div class = "item">Crispy Chicken Sandwhich: 7.50 </div>
<div class = "item">Chicken Cordon Blue: 8.95 </div>
<div class = "item">Onion Rings: 5.95 </div>
<div class = "item">Sweet Potato Fries: 3.75 </div>
<div class = "item">Garlic Fries: 4.95 </div>
<div class = "item">French Fries: 2.75 </div>
<div class = "item">"Killer" Chili Fries:5.95 </div>
<div class = "item">Seasoned Cross Cut Fries: 2.95 </div>
<div class = "item">Baltimore Cheese Steak: 6.95 </div>
<div class = "item">Philly Cheese Steak: 6.95 </div>

</ion-content>
