<!--
  Generated template for the BurgersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  
  </ion-navbar>

</ion-header>
<h1>Burgers</h1>

<ion-content padding>
<div class = "list">
  <h1>Burgers</h1>
   <div class = "item">Veggie Burger: 5.95</div>
   <div class = "item">Andy's All American: 4.95</div>
   <div class = "item">Garlic Teryaki Mushroom: 5.95</div>
   <div class = "item">Swiss Mushroom Chile: 5.95</div>
   <div class = "item">Baltimore Burger: 5.95</div>
   <div class = "item">Adobo Beer Burger: 5.95</div>
   <div class = "item">"Killer" Bacon: 5.95</div>
   <div class = "item">Green Chile and PepperJack: 5.95</div>
   <div class = "item">Avocado and Bacon: 5.95</div>
   <div class = "item">Salmon: 6.95</div>
   <div class = "item">Western: 6.95</div>
   <div class = "item">Garlic Lover's 5.95</div>
   <div class = "item">Hawaiian: 5.95</div>
   <div class = "item">Bourbon Style Smokey Cheddar Bacon: 5.95</div>
   <div class = "item">Killer Chili: 7.95</div>
   <div class = "item">Turkey: 5.95</div>
   <div class = "item">Chakas: 5.95</div>

</div>
</ion-content>
